.widget {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    -webkit-box-shadow: 7px 15px 29px -8px rgba(171, 171, 171, 0.4);
    -moz-box-shadow: 7px 15px 29px -8px rgba(171, 171, 171, 0.4);
    box-shadow: 7px 15px 29px -8px rgba(171, 171, 171, 0.4);

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 14px;
            font-weight: bold;
            color: #03002e;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }
        .icon{
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}