.sidebar {
    flex: 1;
    background-color: white;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #03002e;
        }
    }

    hr {
        height: 0;
        border: 0.5px solid lightgray;
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #100c4a;
                    color: white;
                    font-weight: 100;
                }

                .icon {
                    font-size: 18px;
                    color: #100c4a;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #03002e;
            cursor: pointer;
            margin: 4px;

            &:nth-child(1) {
                background-color: whitesmoke;
            }

            &:nth-child(2) {
                background-color: black;
            }

            &:nth-child(3) {
                background-color: #03002e;
            }

            &:nth-child(4) {
                background-color: goldenrod;
            }
        }
    }
}