.table {
    .tableCell {
        .cellWrapper {
            display: flex;
            align-items: center;

            .projectImg {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
                object-fit: cover;
            }
        }

        .status {
            padding: 5px;
            border-radius: 5px;

            &.Completed {
                color: green;
                background-color: rgba(0, 128, 0, 0.172);
                cursor: pointer;

                &:hover {
                    color: rgba(0, 128, 0, 0.715);
                    background-color: rgba(0, 128, 0, 0.172);
                    cursor: pointer;
                }
            }

            &.Pending {
                color: goldenrod;
                background-color: rgba(255, 255, 0, 0.34);
                cursor: pointer;

                &:hover {
                    color: rgba(218, 165, 32, 0.749);
                    background-color: rgba(255, 255, 0, 0.34);
                    cursor: pointer;
                }
            }
        }
    }
}